<h1>Welcome to our travel blog!</h1>
<h2>Here you can explore some of the places we've been.</h2>
<a href='/places'>Click here to view a list of places we've been</a><br>
<a href='/places/new'>Click here to add a new place of your own</a>