<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Journal</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <form action ="/places" method="post">
                    <label for="cityName">Enter the name of a city you've visited.</label>
                    <input id="cityName" name="cityName" type="text">
                    <label for="date">Enter the dates of your visit</label>
                    <input id="date" name="date" type="text">
                    <label for="entry">Describe your trip!</label>
                    <input id="entry" name="entry" type="text">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>







